.course-name-div {
    background-color: rgba(48, 48, 48, 0.5);
    color: #ffffff; }

.padding-container {
    padding: 10% 15px; }

.font-size-50 {
    font-size: 50px; }

.profile-img {
    width: 45px;
    height: 45px;
    border: 2px solid #50E3C2;
    margin-right: 3px;
    padding: 0px; }

.user_name_joined_date {
    padding: 0px 0px 0px 5px;
    width: auto;
    font-size: 16px;
    font-weight: 400; }

.date-time {
    display: block;
    font-size: 12px;
    color: #787976; }

.description-style {
    padding: 30px 15px;
    font-size: 17px;
    margin: 20px 0px;
    box-shadow: 0px 15px 4px -8px rgba(0, 0, 0, 0.2);
    background-color: #FFF; }